<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>New student</title>
		<link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
								   integrity = "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
								   crossorigin = "anonymous">
	</head>
	<body>
		
		<div class = "container">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Create new student</h1>
				
				<div class = "card-body">
					<form th:method = "POST" th:action = "@{/students/new}" th:object = "${student}">
						<label>Student first name: </label>
						<input type = "text" name = "firstName" th:field = "*{firstName}" class = "form-control" placeholder = "Enter student first name"/>
						<span th:if = "${#fields.hasErrors('firstName')}" th:errors = "*{firstName}"></span>
						
						<br/>
						
						<label>Student last name: </label>
						<input type = "text" name = "lastName" th:field = "*{lastName}" class = "form-control" placeholder = "Enter student last name"/>
						<span th:if = "${#fields.hasErrors('lastName')}" th:errors = "*{lastName}"></span>
						
						<br/>
						
						<label>Student email: </label>
						<input type = "email" name = "email" th:field = "*{email}" class = "form-control" placeholder = "Enter student email"/>
						<span th:if = "${#fields.hasErrors('email')}" th:errors = "*{email}"></span>
						
						<br/>
						
						<button type = "submit" class = "btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
		
	</body>
</html>